:root{
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: 'Inter400';
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter600';
  src: url('./assets/fonts//Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter700';
  src: url('./assets/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body{
  margin:0 !important;
  padding:0 !important;
}

/*Mobile CSS*/
.app{
  background-color:var(--Grey900) !important;
  width:100vw !important;
  height:100vh !important;
  justify-content: center !important;
  align-items: center !important;
}

.card{
  border-radius:0.8rem !important;
  background-color: var(--Grey800) !important;
  width:85vw !important;
  padding:1.5rem 1rem !important;
}

.profile-img{
  border-radius:100rem;
  width:35%;
}

.profile-name{
  font-family: 'Inter600' !important;
  color:var(--White);
  margin-top:1.5rem;
}

.profile-location{
  font-family: 'Inter600' !important;
  color:var(--Green);
}

.profile-tagline{
  width:100%;
  font-family: 'Inter400' !important;
  font-size:0.9rem;
  text-align: center;
  color:var(--White);
  margin-top:1rem;
}

button{
  width:100%;
  font-family: 'Inter600' !important;
  font-size:0.8rem;
  background-color: var(--Grey700);
  outline:none;
  border:0rem;
  border-radius:0.5rem !important;
  color:var(--White);
  padding-top:0.6rem;
  padding-bottom:0.6rem;
  margin-top:1rem !important;
  transition: 0.6s;
}
button:hover{
  color:var(--Grey700);
  background-color: var(--Green);
  transition: 0.6s;
}

/*Tablet CSS*/
@media only screen and (min-width:768px){
  .card{
    width:60vw !important;
    padding:1.5rem 1rem !important;
  }
  .profile-img{
    width:20%;
  }
  .profile-name{
    font-family: 'Inter600' !important;
    font-size:1.8rem;
  }
}

/*Desktop CSS*/
@media only screen and (min-width:1280px){
  .card{
    width:30vw !important;
    padding:1.5rem 1rem !important;
  }
  .profile-img{
    width:20%;
  }
}
