:root{
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: 'Inter400';
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter600';
  src: url('./assets/fonts//Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter700';
  src: url('./assets/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body{
  margin:0 !important;
  padding:0 !important;
}

/*Mobile CSS*/
.app{
  background-color:var(--Grey900) !important;
  width:100vw !important;
  height:100vh !important;
  justify-content: center !important;
  align-items: center !important;
}

.card{
  background-color: var(--Grey800) !important;
  width:85vw !important;
  height:70vh !important;
  padding:1.5rem 1rem !important;
}

.profile-img{
  border-radius:100rem;
  width:35%;
}

.profile-name{
  color:var(--White);
}

.profile-location{
  color:var(--Green);
}

.profile-tagline{
  text-align: center;
  color:var(--White);
}

button{
  width:100%;
}

/*Tablet CSS*/
@media only screen and (min-width:768px){
  .card{
    width:60vw !important;
    height:70vh !important;
  }
}

/*Desktop CSS*/
@media only screen and (min-width:1280px){
  .card{
    width:30vw !important;
    height:60vh !important;
  }
}
